# credentials
.env
.venv

# virtualenv
venv
VENV
ENV

# database
*.db

# logs
pandaetl.log

# pycache
__pycache__/


# dirs
/instance/*
!/instance/
uploads/
processed/


# coverage
.coverage
coverage.xml